<% provide(:title, "Main") %>
<html>
  <head>
    <title><%= yield(:title) %> | SAMPLE USER</title>
  </head>
  <body>
    <h1>Reward Profile</h1>
    <p>
     Profile info goes here
    </p>
  </body>
</html>
